@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700&display=swap");

@import url(../asset/common.css);
@import url(../asset/scss/common.scss);
@import url(../asset/scss/Addform.scss);
@import url(../asset/scss/aside.scss);
@import url(../asset/scss/audio.scss);
@import url(../asset/scss/list.scss);
@import url(../asset/scss/player.scss);
@import url(../asset/scss/searchResult.scss);

.App {
  background: #030303;
  min-height: 100vh;
  .wrap {
    display: flex;
    overflow: hidden;
    min-height: 100vh;
    box-sizing: border-box;
    @media all and (max-width: 960px) {
      padding-bottom: 0;
    }
    .in_wrap {
      width: 100%;
    }
    .in_wrap::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      background: transparent;
      cursor: pointer;
    }

    .in_wrap::-webkit-scrollbar-thumb {
      background: #aaa;
    }
    main {
      position: relative;
      width: 100%;

      .home > section:not(.play, .control_out_wrap, .background-cover) {
        padding-top: 57px;
      }

      .home > section:first-child {
        padding-top: 90px;
        @media all and (max-width: 960px) {
          padding-top: 145px;
        }
      }

      .home > section:last-child {
        padding-bottom: 50px;
      }

      .home {
        position: relative;
        z-index: 200;
        padding-bottom: 75px;
      }
    }
    main > div:not(.play, .control_out_wrap, .addform-wrap, .background-cover) {
      padding-left: 6.06%;
    }

    .now-player {
      display: none;
      position: fixed;
      bottom: 30px;
      right: 30px;
      width: 50px;
      height: 50px;
      z-index: 1000;
      border: 1px solid rgba(255, 255, 255, 0.2);
      box-sizing: border-box;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);

      @media all and (max-width: 960px) {
        display: block;
      }
      img {
        width: 100%;
      }
    }

    .favorite {
      .favorite_albumWrap {
        width: 350px;
        figure {
          width: 100%;
        }
      }
    }

    .recommend_wrap {
      .middle_album {
        flex-wrap: nowrap;
      }
    }

    .replay_wrap {
      position: relative;
      z-index: 200;
    }
  }
}

@media all and (max-width: 1600px) {
  .in_wrap {
    overflow-x: scroll;
  }
}

@media all and (max-width: 1000px) {
  .in_wrap.small {
    overflow-x: scroll;
  }
}
