$netbook: "all and (max-width:1360px)";
$mobile: "all and (max-width:1000px)";
$device: "all and (max-width:500px)";
$fold: "all and (max-width:280px)";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700&display=swap");

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px 배경색 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.mb30 {
  margin-bottom: 30px;
}

.area-padding {
  padding-left: 13.1378%;
  padding-bottom: 100px;
  box-sizing: border-box;
  overflow: hidden;

  @media all and (max-width: 1200px) {
    padding-left: 10%;
  }
}

.area-padding .in_wrap {
  width: 100%;
}

.borderRound {
  border-radius: 50%;
  overflow: hidden;
}

h2 {
  font-size: 45px;
  font-weight: bold;
  color: #fff;
}

.in_wrap::-webkit-scrollbar {
  width: 8px;
  height: 4px;
  background: transparent;
  cursor: pointer;
}

.in_wrap::-webkit-scrollbar-thumb {
  background: #aaa;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
  background: transparent;
}

.middle_album {
  display: flex;
  gap: 24px;
  width: 1680px;
  flex-wrap: wrap;
  padding-bottom: 25px;
  article {
    width: 225px;
    figure {
      width: 100%;
      overflow: hidden;
      cursor: pointer;
      position: relative;

      &:hover {
        .middle-thumbnail {
          filter: brightness(0.3);
        }
        .middle_favorite {
          opacity: 0.7;
          &:hover {
            opacity: 1;
          }
        }
        .middle_play {
          opacity: 1;
          transform: scale(1.2);
        }
      }

      img {
        width: 100%;
        filter: brightness(1);
      }

      .middle-thumbnail {
        height: 225px;
      }
    }

    .middle_favorite {
      width: 25px;
      height: 25px;
      position: absolute;
      top: 12px;
      right: 13px;
      z-index: 100;
      background: transparent;
      opacity: 0;
      z-index: 100;
      transition-duration: 0.5s;
    }

    .middle_play {
      width: 30px;
      height: 30px;
      background: url(../../public/img/play-icon.png);
      background-size: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -15px;
      margin-left: -15px;
      transform: scale(1);
      opacity: 0;
      z-index: 100;
      transition-duration: 0.45s;
    }

    figcaption {
      margin-top: 15px;
      font-size: 16px;
      p {
        color: #fff;
      }
      span {
        color: #979797;
      }
    }
  }
}

.small_album {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding-bottom: 25px;

  article {
    display: flex;
    width: 100%;
    min-width: 480px;
    height: 48px;
    cursor: pointer;

    figure {
      width: 48px;
      height: 48px;
      margin-right: 15px;
      position: relative;
      &:hover {
        .middle-thumbnail {
          filter: brightness(0.3);
        }
        .middle_favorite {
          opacity: 0.7;
          &:hover {
            opacity: 1;
          }
        }
        .middle_play {
          opacity: 1;
          transform: scale(1.2);
        }
      }
      img {
        width: 100%;
      }
      .middle_play {
        width: 15px;
        height: 15px;
        background: url(../../public/img/play-icon.png);
        background-size: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -7.5px;
        margin-left: -7.5px;
        transform: scale(1);
        opacity: 0;
        z-index: 100;
        transition-duration: 0.45s;
      }
    }

    figcaption {
      color: #fff;
      span {
        color: #979797;
      }
    }
  }
}

.App {
  position: relative;
  min-height: 100vh;
  background: #030303;
  header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 64px;
    padding: 8px 0;
    position: relative;
    padding-left: 13.1378%;
    box-sizing: border-box;
    top: 10px;
    @media all and (max-width: 1200px) {
      padding-left: 10%;
    }

    .logo {
      margin-right: 50px;
      cursor: pointer;
      position: absolute;
      top: 20px;
      left: 2.5%;
      @media all and (max-width: 1200px) {
        position: relative;
        top: 0;
        left: 0;
      }
    }

    .input_wrap {
      display: flex;
      width: 480px;
      align-items: center;
      border: 1px solid rgba(255, 255, 255, 0.15);
      background: rgba(255, 255, 255, 0.15);
      border-radius: 5px;

      .input-search {
        width: 24px;
        height: 24px;
        padding: 0 13px;
        filter: grayscale(1);
      }
      input {
        width: 100%;
        height: 42px;
        background: transparent;
        outline: none;
        border: 0;
        color: #fff;

        &:focus {
          outline: none;
          border-color: rgba(255, 255, 255, 0.5);
          background: transparent;
        }

        &::placeholder {
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
  .search-result-wrap {
    margin-top: 64px;
    @media all and (max-width: 800px) {
      margin-top: 0;
    }

    .search_in_wrap {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      align-items: center;
      @media all and (max-width: 800px) {
        display: flex;
        flex-direction: column;
      }
      figure {
        display: flex;
        width: 264px;
        height: 264px;
        min-width: 200px;
        min-height: 200px;
        border-radius: 5px;
        margin-right: 5%;
        overflow: hidden;
        @media all and (max-width: 800px) {
          width: auto;
          height: auto;
        }
        img {
          width: 100%;
        }
      }
      .right_wrap {
        width: calc(87% - 264px);
        max-width: 1156px;
        @media all and (max-width: 800px) {
          width: 90%;
        }
        figcaption {
          width: 100%;
          margin-bottom: 35px;
          h2 {
            font-size: 45px;
            font-weight: bold;
            color: #fff;
            margin-bottom: 20px;

            @media all and (max-width: 1740px) {
              font-size: 2.6vw;
            }
            @media all and (max-width: 800px) {
              font-size: 45px;
            }
          }
          p {
            color: #aaa;
          }
        }
        .button_wrap {
          display: flex;
          @media all and (max-width: 800px) {
            flex-direction: column;
          }
          button {
            font-size: 14px;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 165px;
            background: transparent;
            border: 1px solid rgba(241, 241, 241, 0.3);
            box-sizing: border-box;
            color: #fff;
            border-radius: 18px;
            letter-spacing: 1px;
            margin-right: 10px;

            &:first-child {
              width: 84px;
              height: 36px;
              background: #fff;
              color: #000;
              border-radius: 18px;
              @media all and (max-width: 800px) {
                width: 100%;
              }
            }
            @media all and (max-width: 1000px) {
              font-size: 1.558vw;
            }
            @media all and (max-width: 800px) {
              width: 100%;
              font-size: 14px;
              margin-bottom: 12px;
            }
          }
        }
      }
    }
  }
  .favorite {
    .favorite_albumWrap {
      width: 400px;
      gap: 0 24px;
      figure {
        width: 100%;
      }
    }
  }

  .control_out_wrap {
    display: flex;
    width: 100%;
    align-items: center;
    background: rgba(33, 33, 33);
    height: 72px;
    order: 3;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 25px;
    box-sizing: border-box;

    .control-info {
      margin: 0 auto;
      display: flex;
      width: 650px;
      height: 72px;
      padding: 15px;
      box-sizing: border-box;

      figure {
        display: flex;
        width: 71px;
        height: 100%;
        margin-right: 10px;
        img {
          width: 100%;
        }
      }
      figcaption {
        h3 {
          font-size: 14px;
          color: #fff;
          @media all and (max-width: 1000px) {
            font-size: 1.35vw;
          }
        }
        span {
          color: #aaa;
          font-size: 12px;
          @media all and (max-width: 1000px) {
            font-size: 1.35vw;
          }
        }
      }
    }

    .control-option {
      display: flex;
      align-items: center;
      margin-right: 25px;
      .volum {
        margin: 3px 10px 0 0;
        img {
          filter: invert(1);
        }
      }
      button {
        &:last-child {
          width: 12px;
          height: 12px;
          margin: 3px 0 0 10px;
          img {
            width: 100%;
          }
        }
      }
    }
    .slider {
      width: 400px;
      background: #eaeaea;
      border-radius: 25px;
      height: 6px;
      cursor: pointer;
      appearance: inherit;
    }

    input[type="range"] {
      overflow: hidden;
      width: 100%;
      height: 2px;
      cursor: pointer;
      background: #666;
      border-radius: 0; /* iOS */
      position: absolute;
      top: 0;
      left: 0;
    }

    input[type="range"]:focus {
      outline: none;
    }

    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 0;
      height: 10px;
      box-shadow: -100vw 0 0 100vw red;
      cursor: pointer;
    }
  }

  .now_play {
    display: flex;
    width: 300px;
    height: 50px;
    background: #fff;
    position: absolute;
    left: 50px;
  }

  .control_tower {
    display: flex;

    @media #{$device} {
      width: 85%;
    }
  }
  .control_wrap {
    display: flex;
    width: 130px;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;

    @media #{$device} {
      width: 100%;
    }

    .control {
      border: 0;
      outline: 0;
      text-align: right;
      background: transparent;
      cursor: pointer;
      color: #fff;
      filter: invert(1);
    }

    .next {
      order: 1;
    }

    .toggle {
      width: 40px;
      height: 40px;
      order: 1;
      img {
        width: 100%;
      }
    }
  }
  .time_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      color: #aaa !important;
      font-size: 12px !important;
    }

    @media #{$mobile} {
      width: 100%;
    }

    .load_time,
    .full_time {
      color: #fff;
    }
  }
  .search-result-wrap {
    .small_album {
      grid-auto-flow: dense;
      margin-top: 50px;
      grid-template-columns: auto;
      gap: 24px 0;
      padding-bottom: 0;
      width: 1300px;
      position: relative;
      left: 2.5%;
      article {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding-bottom: 10px;
      }
    }
  }
}

.area-padding > .el_wrap > div:not(.play, .control_out_wrap) {
  padding-top: 57px;
}

.play {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #030303;
  @media all and (max-width: 960px) {
    flex-direction: column;
  }

  .ref_player_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 80vh;
    padding: 0 5%;
    box-sizing: border-box;
    position: relative;
  }
}
.list_wrap {
  display: flex;
  width: 44%;
  height: 80vh;
  justify-content: space-between;
  overflow: hidden;
  padding: 0 5%;
  box-sizing: border-box;

  .right_list {
    width: 100%;
  }

  .right_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    button {
      width: 30px;
      height: 30px;
      img {
        width: 100%;
        filter: invert(1);
      }
    }
  }

  .list {
    width: 100%;
    max-width: 800px;
    color: #fff;
    box-sizing: border-box;
    .small_album {
      grid-template-columns: 1fr;
    }
    article {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      padding-bottom: 17px;
      min-width: 0 !important;
      figure {
        min-width: 48px;
      }
      figcaption {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-break: break-all;
        width: 100%;
        display: block;
        h3 {
          font-size: 20px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          word-break: break-all;
          width: 100%;
          display: block;
        }
      }
    }
  }

  .now-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    min-height: 100px;
    width: 85%;
    justify-content: center;
    h3 {
      color: #fff;
    }
    h4 {
      color: #aaa;
    }
  }
}

.ref_player_wrap > .ref_thumbnail {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 855px;
  padding: 0 100px;
  box-sizing: border-box;
}

.ref_thumbnail {
  width: 100%;
  height: 100%;
  display: none;
  img {
    width: 100%;
  }
}

// .player {
//   width: 0 !important;
//   height: 0 !important;
//   div {
//     width: 0 !important;
//     height: 0 !important;
//   }
// }

.player {
  width: 100% !important;
  height: 100% !important;
  display: none;
}

.radio_wrap {
  display: flex;
  width: 150px;
  justify-content: space-between;
  background: #212121;
  border-radius: 16px;
  margin-bottom: 30px;
  position: absolute;
  top: 0;

  input {
    display: none;
    &:checked + label {
      background: #383838;
      box-sizing: border-box;
      border-radius: 16px;
    }
  }
  label {
    color: #fff;
    padding: 4px 20px;
    box-sizing: border-box;
    font-weight: 400;
    cursor: pointer;
  }
}

.on {
  display: block;
}

.shuffle_wrap {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media all and (max-width: 960px) {
  .play > div {
    width: 100% !important;
  }
}
