* {
  margin: 0;
  padding: 0;
  word-break: keep-all;
  font-family: "Noto Sans KR", sans-serif;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  float: left;
}

a {
  text-decoration: none;
  color: #333333;
}

header,
section,
footer {
  width: 100%;
}

b {
  display: block;
}
