aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 240px;
  z-index: 400;
  @media all and (max-width: 960px) {
    display: none;
  }
  .aside_inwrap {
    min-width: 240px;
    height: 100%;
    padding: 0 8px;
    box-sizing: border-box;
    border-right: 1px solid rgba(255, 255, 255, 0.12);
    p {
      display: block;
      width: 100%;
      height: 36px;
      line-height: 36px;
      color: #fff;
      text-align: center;
      margin-top: 36px;
      background: rgba(255, 255, 255, 0.1);
      color: #f1f1f1;
      border-radius: 16px;
    }
    ul {
      margin-top: 15px;
      width: 100%;

      li {
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 56px;
        border-radius: 8px;
        cursor: pointer;
        &:hover {
          background: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
}
